<div class="modal-dialog modal-md">
  <div class="modal-body" id="modal-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="text-center">Login</h2>
      </div>
      <form name="userLogin" ng-submit="ctrl.usersLogin()">
        <div class="panel-body">
          <div class="form-group">
            <label for="userName">Username</label>
            <input type="text" autocomplete ="off" name="username" class="form-control"
             ng-model="ctrl.formData.username" placeholder="Enter username" ng-required="true">
            <span style="color:red" 
            ng-show="userLogin.username.$touched && userLogin.username.$error.required">Username required</span>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" autocomplete ="off" name="password" ng-model="ctrl.formData.password"
             class="form-control" placeholder="Enter password"
              ng-required="true"></div>
          <span style="color:red"
           ng-show="userLogin.password.$touched && userLogin.password.$error.required">Password required</span>
        </div>
        <div class="panel-footer">
          <div class="buttonHolder">
            <div class="text-center">
              <input type="submit" value="Sign In" ng-disabled="userLogin.$invalid" class="btn btn-primary">
              <input type="button" value="Cancel" class="btn btn-warning" ng-click="ctrl.cancel()"></br></br>
              Not Registered?<a ui-sref="userRegistration" ng-click="ctrl.cancel()">Sign Up</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
