<ng-form name="frmDriverDetails" novalidate="true">
  </br>
  <!--<div class="form-group col-sm-10">
    <label class="col-sm-2" for="dirverName">Driver Name</label>
    <div class="col-sm-4">
      <input class="form-control" type="text" name="txtdriverName" ng-model="ctrl.formData.driverName" ng-pattern="/^[a-z A-Z]*$/"
        ng-required="true" placeholder=" Driver name">
    </div>
    <div class="col-sm-4">
      <span style="color:red" ng-show="frmDriverDetails.txtdriverName.$touched && frmDriverDetails.txtdriverName.$error.required">
                 Driver name required
                </span>
      <span style="color:red" ng-show="frmDriverDetails.txtdriverName.$error.pattern">Alphabets only</span>
    </div>
  </div>-->
  <div class="form-group col-sm-10">
    <label class="col-sm-2" for="licenseNumber">License Number</label>
    <div class="col-sm-4">
      <input class="form-control"autocomplete="off" type="text" name="txtlicenseNumber" ng-model="ctrl.formData.licenseNumber" ng-required="true"
        placeholder="License number">
    </div>
    <div class="col-sm-4">
      <span style="color:red" ng-show="frmDriverDetails.txtlicenseNumber.$touched && frmDriverDetails.txtlicenseNumber.$error.required">
                 License number required
                </span>
    </div>
    </div>
    <!--<div class="form-group col-sm-10">
      <label class="col-sm-2" for="contactNumber">Contact Detail</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="txtcontactNumber" ng-model="ctrl.formData.contactNumber" ng-required="true"
          ng-pattern="/^[0-9 -]*$/" placeholder="Contact Detail">
      </div>
      <div class="col-sm-4">
        <span style="color:red" ng-show="frmDriverDetails.txtcontactNumber.$touched && frmDriverDetails.txtcontactNumber.$error.required">
                 Contact Detail required
                </span>
        <span style="color:red" ng-show="frmDriverDetails.txtcontactNumber.$error.pattern">Only digits and hyphen allowed</span>
      </div>
    </div>-->
</ng-form>
