<head>
<style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #008ae6; /* blue */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #008ae6;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #008ae6 !important;
  }
  
  </style>
</head>
<body>


<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                       
      </button>
      <img src="app/images/logo1.jpg"
   class="img-responsive img-circle margin" style="display:inline" alt="LOGO" width="90" height="90">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/searchRide">SEARCH RIDE</a></li>
        <li><a href="/createride/driverDetails">CREATE RIDE</a></li>
      </ul>
	  <h2 style="color:#008ae6" align="center">DRIVER DETAILS</h2>
    </div>
  </div>
</nav>
<div class="container-fluid bg-2 text-left">
<form name="frmDriverDetails" ng-submit="ctrl.addDriverDetails()" ng-model="ctrl.formdata" novalidate="true">
	<div class="form-group">
		<div class="col-sm-10">
			<div class="col-sm-6">
				<label for="firstName">First Name</label>
				<input class="form-control" type="text" name="firstName"
				 ng-model="ctrl.formdata.firstName" ng-pattern="/^[a-z A-Z]*$/" ng-required="true"
					placeholder="Enter first name">
			</div>
			</br>
		
			<div class="col-sm-4">
				<span style="color:red"
				 ng-show="frmDriverDetails.firstName.$dirty && frmDriverDetails.firstName.$error.required">First name required</span>
				<span style="color:red"
				 ng-show="frmDriverDetails.firstName.$error.pattern">Alphabets only</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
			<div class="col-sm-6">
				<label for="lastName">Last Name</label>
				<input class="form-control" type="text" name="lastName"
				 ng-model="ctrl.formdata.lastName" ng-pattern="/^[a-z A-Z]*$/" ng-required="true"
					placeholder="Enter last name">
			</div>
			</br>
	
			<div class="col-sm-4">
				<span style="color:red"
				 ng-show="frmDriverDetails.lastName.$dirty && frmDriverDetails.lastName.$error.required">Last name required</span>
				<span style="color:red"
				 ng-show="frmDriverDetails.lastName.$error.pattern">Alphabets only</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
			<div class="col-sm-6">
				<label for="company">Company</label>
				<input class="form-control" type="text" name="company"
				 ng-model="ctrl.formdata.company" ng-pattern="/^[a-z A-Z 0-9]*$/" ng-required="true"
					placeholder="Enter company ">
			</div>
			</br>
	
			<div class="col-sm-4">
				<span style="color:red"
				 ng-show="frmDriverDetails.company.$dirty && frmDriverDetails.company.$error.required">Company required</span>
				<span style="color:red"
				 ng-show="frmDriverDetails.company.$error.pattern">Alphabet and number only</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
			<div class="col-sm-6">
				<label for="company">Contact Number</label>
				<input class="form-control" type="text" name="contactNumber"
				 ng-model="ctrl.formdata.contactNumber" ng-pattern="/^[0-9]*$/"
					ng-required="true" placeholder="Enter contact detail ">
			</div>
			</br>
		
			<div class="col-sm-4">
				<span style="color:red"
				 ng-show="frmDriverDetails.contactNumber.$dirty && frmDriverDetails.contactNumber.$error.required">Contact number required</span>
				<span style="color:red"
				 ng-show="frmDriverDetails.contactNumber.$error.pattern">Digits only</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
			<div class="col-sm-6">
				<label for="licenseNumber">License Number</label>
				<input class="form-control" type="text" name="licenseNumber"
				 ng-model="ctrl.formdata.licenseNumber" ng-required="true" placeholder="Enter license number">
			</div>
			</br>
	
			<div class="col-sm-4">
				<span style="color:red"
				 ng-show="frmDriverDetails.licenseNumber.$dirty && frmDriverDetails.licenseNumber.$error.required">License number required</span>
			</div>
		</div>
	</div>
    
	<div class="form-group">
		<div class="col-sm-8">
			<div class="col-sm-2">
                </br>
				<button type="submit" class="btn btn-lg btn-block btn-primary" 
				ng-disabled="frmDriverDetails.$invalid">Next</button> 
            </div>     
            <div class="col-sm-2">
                </br>
                <button type="button" class="btn btn-primary btn-lg btn-block btn-danger" 
                 ng-click="ctrl.cancel()">Cancel</button>
            </div>
		</div>
	</div>
</form>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p><a href="http://www.shareride.com">www.shareride.com</a></p> 
</footer>

</body>