<div class="container">
  <p>
		<h2 align="center">Vehicle Details</h2>
	</p>
<form name="ctrl.vehicleDetails" ng-submit="ctrl.addRideDetails()">
  
  <div class="form-group">
        <div class="col-sm-10" >
            <div class="col-sm-4"></br>
                <label for="vehicleNo"><b>Vehicle Number</b></label>
                <input class="form-control" type="text" name="vehicleNo"maxlength="20"
                 ng-model="ctrl.formData.vehicleNo" ng-pattern="/^[a-z A-Z 0-9]*$/" ng-required="true"
                 placeholder="vehicle Number">
            </div></br></br></br>
            <div class="col-sm-4">
                <span class="alert" style="color:red"
                 ng-show="ctrl.vehicleDetails.vehicleNo.$dirty && ctrl.vehicleDetails.vehicleNo.$error.required">
                 Vehicle number required</span>
                <span style="color:red"
                 ng-show="ctrl.vehicleDetails.vehicleNo.$error.pattern"> Alphanumeric only</span>
            </div>
        </div>
  </div>
  <div class="form-group">
        <div class="col-sm-10" >
            <div class="col-sm-4"></br>
                <label for="vehicleMake"><b>Vehicle Make</b></label>
                <input class="form-control" type="text" name="vehicleMake"maxlength="20"
                 ng-model="ctrl.formData.vehicleMake" ng-pattern="/^[a-z A-Z]*$/" ng-required="true"
                 placeholder="Make">
            </div></br></br></br>
            <div class="col-sm-4">
                <span class="alert" style="color:red"
                 ng-show="ctrl.vehicleDetails.vehicleMake.$dirty && ctrl.vehicleDetails.vehicleMake.$error.required">
                 Vehicle make required</span>
                <span style="color:red"
                 ng-show="ctrl.vehicleDetails.vehicleMake.$error.pattern"> Alphabets only</span>
            </div>
        </div>
  </div>
  <div class="form-group">
        <div class="col-sm-10" >
            <div class="col-sm-4"></br>
                <label for="vehicleModel"><b>Vehicle Model</b></label>
                <input class="form-control" type="text" name="vehicleModel"maxlength="20"
                 ng-model="ctrl.formData.vehicleModel" ng-pattern="/^[a-z A-Z 0-9]*$/" ng-required="true"
                 placeholder="Model">
            </div></br></br></br>
            <div class="col-sm-4">
                <span class="alert" style="color:red"
                 ng-show="ctrl.vehicleDetails.vehicleModel.$dirty && ctrl.vehicleDetails.vehicleModel.$error.required">
                 Vehicle model required</span>
                <span style="color:red"
                 ng-show="ctrl.vehicleDetails.vehicleModel.$error.pattern"> Alphanumeric only</span>
            </div>
        </div>
  </div>
  <div class="form-group">
        <div class="col-sm-10" >
            <div class="col-sm-2"></br>
                <label for="seatCapacity"><b>Seat Capacity</b></label>
                <input class="form-control" type="text" name="seatCapacity"maxlength="20"
                 ng-model="ctrl.formData.seatCapacity" ng-pattern="/^(\d)+$/" ng-required="true"
                 placeholder="Seat">
            </div></br></br></br>
            <div class="col-sm-4">
                <span class="alert" style="color:red"
                 ng-show="ctrl.vehicleDetails.seatCapacity.$dirty && ctrl.vehicleDetails.seatCapacity.$error.required">
                 Seat capacity required</span>
                <span style="color:red"
                 ng-show="ctrl.vehicleDetails.seatCapacity.$error.pattern">  Numbers only</span></br>
            </div>
        </div>
  </div>              
  <div class="form-group">
        <div class="col-sm-8" >
            <div class="col-sm-2">
                </br>
                <button type="submit" class="btn btn-lg btn-block btn-primary"
                 ng-disabled="ctrl.vehicleDetails.$invalid">Next</button>
            </div>
            <div class="col-sm-2">
                </br>
                <button type="button" class="btn btn-primary btn-lg btn-block btn-danger" 
                 ng-click="ctrl.cancel()">Cancel</button>
                <ion-item ng-repeat="contact in contact2" item2="item">
            </div>
        </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
      40% Complete (success)
    </div>
  </div>
 </form>
</div>  