.usermargin {
  margin-bottom: 45px;
}

.userhome1 {
  background-color: #ffffff;
  color: #474e5d;
}

.userhome1 h2,h4,h5,
h3 {
  color: #474e5d;
}

.container-userfluid {
  padding-top: 10px;
  padding-bottom: 5px;
}
