<div class="row">
  <P>
    <h2 align="center">RIDE DETAILS</h2>
  </p>
  <form name="viewForm">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
      <table class="table">
        <tbody>
          <tr>
            <td colspan="3"><b><u>DRIVER DETAILS</u></b></td>
          </tr>
          <tr>
          </tr>
          <tr>
            <td>Driver Name :</td>
            <td><label name="name" ng-model="ctrl.formData.driverName">{{ctrl.result.driver.driverFirstName}}  {{ctrl.result.driver.driverLastName}}</label></td>
          </tr>
          <tr>
            <td>Contact Number :</td>
            <td><label name="mobilenumber" ng-model="ctrl.formData.contactNumber">{{ctrl.result.driver.contactNumber}}</label></td>
          </tr>
          <tr>
            <td colspan="2"><b><u>CAR DETAILS</u></b></td>
          </tr>
          <tr>
            <td>Vehicle Number :</td>
            <td><label name="vehiclenumber" ng-model="ctrl.formData.VehicleNumber">{{ctrl.result.vehicle.VehicleNumber}}</label></td>
          </tr>
          <tr>
            <td>Vehicle Make :</td>
            <td><label name="vehiclemake" ng-model="ctrl.formData.vehicleMake">{{ctrl.result.vehicle.vehicleMake}}</label></td>
          </tr>
          <tr>
            <td>Vehicle Model :</td>
            <td><label name="vehiclemodel" ng-model="ctrl.formData.vehicleModel">{{ctrl.result.vehicle.vehicleModel}}</label></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
      <table class="table">
        <tbody>
          <tr>
            <td> <label for="from">FROM:</label></td>
            <td><label name="from" ng-model="ctrl.formData.from">{{ctrl.result.from}}</label></td>
          </tr>
          <tr>
            <td><label for="stoppoints">STOP POINTS:</label></td>
            <td><label name="stoppoints" ng-model="ctrl.formData.stoppoints">{{ctrl.result.stopPoints}}</label></td>
          </tr>
          <tr>
            <td><label for="company">COMPANY:</label></td>
            <td><label name="company" ng-model="ctrl.formData.company">{{ctrl.result.driver.company}}</label></td>
          </tr>
          <tr>
            <td><label for="startdate">START DATE:</label></td>
            <td><label name="startdate" ng-model="ctrl.formData.startdate">{{ctrl.result.startDate}}</label></td>
          </tr>
          <tr>
            <td><label for="enddate">END DATE:</label></td>
            <td><label name="enddate" ng-model="ctrl.formData.enddate">{{ctrl.result.endDate}}</label></td>
          </tr>
          <tr>
            <td><label for="starttime">START TIME:</label></td>
            <td><label name="starttime" ng-model="ctrl.formData.starttime">{{ctrl.result.startHour}}:{{ctrl.result.startMinute}} <span ng-show="ctrl.result.startHour<= 12 ? ctrl.ab= 'am': ctrl.ab= 'pm'">{{ctrl.ab}}</span></label></td>
          </tr>
          <tr>
            <td><label for="returntime">RETURN TIME:</label></td>
            <td><label name="returntime" ng-model="ctrl.formData.returntime">{{ctrl.result.endHour}}:{{ctrl.result.endMinute}} <span ng-show="ctrl.result.endHour <= 12?ctrl.ab='am': ctrl.ab='pm'">{{ctrl.ab}}</span></label></td>
          </tr>
          <tr>
            <td><label for="seats">SEATS:</label></td>
            <td><label name="seats" ng-model="ctrl.formData.seats">{{ctrl.result.vacantSeats}}/{{ctrl.result.vehicle.seatCapacity}}</label></td>
          </tr>
          <tr>
            <td><label for="fare">FARE:</label></td>
            <td><label name="fare" ng-model="ctrl.formData.fare">{{ctrl.result.fare}}  <span><b> per ride.</b></span></label></td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-primary" type="button" ng-click="ctrl.openComponentModal()">Next</button> &nbsp&nbsp&nbsp&nbsp
              <button class="btn btn-warning" type="button" ng-click="ctrl.update()">Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    	
  </form>
</div>
