<my-header></my-header>
<div class="container-fluid bg-3 text-center">
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  <h5 style="color:#003366">Rides starting from <b>{{ctrl.fromPlace}}</b> to <b>INFOPARK </b>:{{ctrl.searchResult.length}}</h5>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th class="text-center col-sm-2">Start Date</th>
        <th class="text-center col-sm-2">End Date </th>
        <th class="text-center col-sm-2">Start Time </th>
        <th class="text-center col-sm-2">End Time </th>
        <th class="text-center col-sm-2">Vacant Seats</th>
        <th class="text-center col-sm-2">fare</th>
        <th class="text-center col-sm-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="date" name="lstSearchRide.txtStartDate" ng-change="ctrl.filterDetail.startDate = ctrl.searchDetail.startDate.toLocaleDateString()"
            ng-model="ctrl.searchDetail.startDate">
        </td>
        <td>
          <input type="date" name="lstSearchRide.txtEndDate" ng-change="ctrl.filterDetail.endDate = ctrl.searchDetail.endDate.toLocaleDateString()"
            ng-model="ctrl.searchDetail.endDate">
        </td>
        <td>
          <input type="time" name="lstSearchRide.txtStartTime" ng-change="ctrl.filterDetail.startHour = ctrl.searchDetail.startHour.getHours()"
            ng-model="ctrl.searchDetail.startHour">
        </td>
        <td>
          <input type="time" name="lstSearchRide.txtEndTime" ng-change="ctrl.filterDetail.endHour = ctrl.searchDetail.endHour.getHours()"
            ng-model="ctrl.searchDetail.endHour">
        </td>
        <td>
          <input class="col-sm-6" type="text" name="lstSearchRide.txtVacantSeats" ng-change="ctrl.filterDetail.vacantSeats = ctrl.searchDetail.vacantSeats"
            ng-model="ctrl.searchDetail.vacantSeats">
        </td>
        <td>
          <input class="col-sm-6 col-sm-offset-3" type="text" name="lstSearchRide.txtfare" ng-change="ctrl.filterDetail.fare = ctrl.searchDetail.fare"
            ng-model="ctrl.searchDetail.fare">
        </td>
        <td></td>
      </tr>
      <tr ng-repeat="record in ctrl.searchResult | filter : ctrl.filterDetail">
        <td>{{record.startDate}}</td>
        <td>{{record.endDate}}</td>
        <td>
          {{record.startHour}}:{{record.startMinute}}
          <span ng-show="record.startHour <= 12 ?ctrl.ampm='PM' : ctrl.ampm='AM'">{{ctrl.ampm}}</span>
          <span></span>
        </td>
        <td>
          {{record.endHour}}:{{record.endMinute}}
          <span ng-show="record.endHour <= 12 ?ctrl.ampm='PM' : ctrl.ampm='AM'">{{ctrl.ampm}}</span>
        </td>
        <td>{{record.vacantSeats}}</td>
        <td>{{record.fare}}</td>
        <td><button type="button" class="btn btn-primary" name="lstSearchRide.btnView" ng-model="ctrl.list.search" ng-click="ctrl.viewRideDetails(record.$id)">View</button></td>
      </tr>
    </tbody>
  </table>
</div>
<my-footer></my-footer>
