<div class="container">
  <p>
    <h2 align="center">SEARCH RIDE</h2>
  </p>
  <form name="frmSearchRide" ng-model="ctrl.formdata" novalidate="true">
    <div class="col-lg-10">
      <div class="input-group">
        <input type="text" name="txtPlace" class="form-control" ng-model="ctrl.formdata.place" placeholder="Search for place..." ng-required="true">
        <span class="input-group-btn">
        <button class="btn btn-secondary" name="frmSearchRide.btnSearch" ng-click="ctrl.searchRideDetails(ctrl.formdata.place)" ng-model="ctrl.formdata.search" type="button">Go!</button>
        </span>
        <div class="col-lg-6">
          <span ng-show="frmSearchRide.txtPlace.$touched && frmSearchRide.txtPlace.$error.required" class="help-block">
                Enter the place
            </span>
        </div>
      </div>
    </div>
</div>
</form>
</br>
<div class="row">
  <div class="col-sm-2" style="background-color:lavenderblush;"><h3>Start Date <span class="label label-default"></h3></div>
  <div class="col-sm-2" style="background-color:lavenderblush;"><h3>End Date <span class="label label-default"></h3></div>
  <div class="col-sm-2" style="background-color:lavenderblush;"><h3>Start Time <span class="label label-default"></h3></div>
  <div class="col-sm-2" style="background-color:lavenderblush;"><h3>End Time <span class="label label-default"></h3></div>
  <div class="col-sm-2" style="background-color:lavenderblush;"><h3>Vacant Seats <span class="label label-default"></h3></div>
  <div class="col-sm-2" style="background-color:lavenderblush;"><h3>Action <span class="label label-default"></h3></div>
</div>
<div class="row" ng-repeat="record in ctrl.searchResult">
  <div class="col-sm-2" style="background-color:lavender;">{{record.startDate}}</div>
  <div class="col-sm-2" style="background-color:lavender;">{{record.endDate}}</div>
  <div class="col-sm-2" style="background-color:lavender;">{{record.startHour}}:{{record.startMinute}}</div>
  <div class="col-sm-2" style="background-color:lavender;">{{record.endHour}}:{{record.endMinute}}</div>
  <div class="col-sm-2" style="background-color:lavender;">{{record.vacantSeats}}</div>
  <div class="col-sm-2" style="background-color:lavender;"><button name="lstSearchRide.btnView" ng-model="ctrl.list.search">
                View
      </button></div>
</div>
</div>
