<head>
<style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #008ae6; /* blue */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #ffffff; /* Dark Blue */
      color: #000000;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #008ae6 !important;
  }
  
  </style>
</head>
<body>


<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                       
      </button>
      <img src="app/images/logo1.jpg"
   class="img-responsive img-circle margin" style="display:inline" alt="LOGO" width="90" height="90">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/searchRide">SEARCH RIDE</a></li>
        <li><a href="/createride/driverDetails">CREATE RIDE</a></li>
      </ul>
	  <h2 style="color:#008ae6" align="center">RIDE DETAILS</h2>
    </div>
  </div>
</nav>
<div class="container-fluid bg-2 text-left">
<form name="ctrl.rideDetails" ng-submit="ctrl.addRideDetails()">
  
 <div class="form-group">
        <div class="col-sm-10" >
            <div class="col-sm-5">
                <label for="from">From</label>
                <input class="form-control" type="text" name="from" maxlength="20"
                 ng-model="ctrl.formData.from" ng-pattern="/^[a-z A-Z]*$/" ng-required="true"
                 placeholder="From">
            </div></br>
            <div class="col-sm-4">
                <span class="alert" style="color:red"
                 ng-show="ctrl.rideDetails.from.$dirty && ctrl.rideDetails.from.$error.required">
                 Enter a place.</span>
                <span style="color:red"
                 ng-show="ctrl.rideDetails.from.$error.pattern"> Alphabets only</span>
            </div>
        </div>
  </div> 
  <div class="form-group">
        <div class="col-sm-10" >
            <div class="col-sm-5">
                <label for="stopPoints">Stop Points</label>
                <input class="form-control" type="text" name="stopPoints" maxlength="40"
                 ng-model="ctrl.formData.stopPoints" ng-pattern="/^[a-z A-Z]*$/" ng-required="true"
                 placeholder="Stop Points 1,2...">
            </div></br>
            <div class="col-sm-4">
                <span class="alert" style="color:red"
                 ng-show="ctrl.rideDetails.stopPoints.$dirty && ctrl.rideDetails.stopPoints.$error.required">
                 Atleast one stopPoints point required.</span>
                <span style="color:red"
                 ng-show="ctrl.rideDetails.stopPoints.$error.pattern"> Alphabets only</span>
            </div>
        </div>
  </div> 
<div class="form-group">
        <div class="col-sm-12" >
            <div class="col-sm-2">
                <label for="startDate">Start Date</label>
                <input class="form-control" type="date" name="startDate"
                 ng-model="ctrl.formData.startDate"  ng-required="true">
            </div>
             <div class="col-sm-2">
                <label for="endDate"><b>End Date</b></label>
                <input class="form-control" type="date" name="endDate"
                 ng-model="ctrl.formData.endDate"  ng-required="true">
            </div>
            <div class="col-sm-4"></br>
                <span class="alert" style="color:red"
                 ng-show="ctrl.rideDetails.startDate.$touched && ctrl.rideDetails.startDate.$error.required
                 || ctrl.rideDetails.endDate.$touched && ctrl.rideDetails.endDate.$error.required">
                 Start & End date required.</span>
            </div>
        </div>
</div> 

<div class="form-group">
        <div class="col-sm-12" >
            <div class="col-sm-2">
                <label for="startTime">Start Time</label>
                <input class="form-control" type="time" name="startTime" placeholder="HH:MM:SS"
                 ng-model="ctrl.formData.startTime" ng-required="true">
            </div>
            <div class="col-sm-2">
                <label for="endTime">End Time</label>
                <input class="form-control" type="time" name="endTime" placeholder="HH:mm:ss"
                 ng-model="ctrl.formData.endTime" ng-required="true">
            </div>
            <div class="col-sm-4"></br>
                <span class="alert" style="color:red"
                 ng-show="ctrl.rideDetails.startTime.$touched && ctrl.rideDetails.startTime.$error.required
                 || ctrl.rideDetails.endTime.$touched && ctrl.rideDetails.endTime.$error.required">
                 Start & End time required.</span>
            </div>
        </div>
</div> 
<div class="form-group">
        <div class="col-sm-10" >
            <div class="col-sm-2">
                <label for="vacantSeats">Vacant Seats</label>
                <input class="form-control" type="text" name="vacantSeats"
                 ng-model="ctrl.formData.vacantSeats" ng-pattern="/^(\d)+$/" ng-required="true"
                 placeholder="Seats">
            </div></br>
            <div class="col-sm-4">
                <span class="alert" style="color:red"
                 ng-show="ctrl.rideDetails.vacantSeats.$dirty && ctrl.rideDetails.vacantSeats.$error.required">
                 Number of seats required.</span>
                <span style="color:red"
                 ng-show="ctrl.rideDetails.vacantSeats.$error.pattern"> Numbers only</span>
            </div>
        </div>
  </div> 
<div class="form-group">
        <div class="col-sm-10" >
            <div class="col-sm-2">
                <label for="fare">Fare<</label>
                <input class="form-control" type="text" name="fare"
                 ng-model="ctrl.formData.fare" ng-pattern="/^(\d)+$/" ng-required="true"
                 placeholder="fare">
            </div></br>
            <div class="col-sm-4">
                <span> per ride.</span>
                <span class="alert" style="color:red"
                 ng-show="ctrl.rideDetails.fare.$dirty && ctrl.rideDetails.fare.$error.required">
                 Fare required.</span>
                <span style="color:red"
                 ng-show="ctrl.rideDetails.fare.$error.pattern"> Numbers only</span>
            </div>
        </div>
  </div> 
  <div class="form-group">
        <div class="col-sm-8" >
            <div class="col-sm-2"></br>
                <button type="submit" class="btn btn-lg btn-block btn-primary"
                 ng-disabled="ctrl.rideDetails.$invalid">Submit</button>
            </div>
            <div class="col-sm-2"></br>
                <button type="button" class="btn btn-primary btn-lg btn-block btn-danger"
                 ng-click="ctrl.cancel()">Cancel</button>
            </div>     
       </div>
  </div>
 </form>
</div> 
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p><a href="http://www.shareride.com">www.shareride.com</a></p> 
</footer>

</body>          