<div class="col-md-6 col-md-offset-3">
  <h2>Registration</h2>
  <ng-form name="registrationForm" class="form-style-9">
        <div class="form-group">
          <label for="firstname">First name</label>
          <input type="text" name="firstName" id="firstName" class="form-control" ng-pattern="/^[a-z A-Z]*$/" ng-model="vm.user.firstName"
            required />
          <span style="color:red" ng-show="registrationForm.firstName.$touched && registrationForm.firstName.$error.required">First name required</span>
          <span style="color:red" ng-show="registrationForm.firstName.$error.pattern">Alphabets only</span>
        </div>
        <div class="form-group">
          <label for="lastname">Last name</label>
          <input type="text" name="lastName" id="Text1" placeholder="Last Name" class="form-control" ng-pattern="/^[a-z A-Z]*$/" ng-model="vm.user.lastName"
            required />
          <span style="color:red" ng-show="registrationForm.lastName.$touched && registrationForm.lastName.$error.required">Last name required</span>
          <span style="color:red" ng-show="registrationForm.lastName.$error.pattern">Alphabets only</span>
        </div>
           <div class="form-group">
          <label for="gender">Gender</label>
          <div class="radio">
            <label>
        <input type="radio" name="userGender" ng-model="ctrl.formData.userGender" ng-click="ctrl.userGen()" required> Male</label>
            <label><input type="radio" name="userGender"  ng-click="ctrl.userGen()" required>Female</label>
          </div>
       </div>
          <div class="form-group">
          <label for="category">Category</label>
          <div class="radio">
            <label>
        <input type="radio"  checked="true" ng-model="ctrl.formData.userCategory" value="driver" name="userCateg" ng-click="ctrl.usersCategory()">Driver</label>
            <label><input type="radio"  ng-model="ctrl.formData.userCategory" name="userCateg" value="passenger"  ng-click="ctrl.usersCategory()">Passenger</label>
          </div>
    </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="userName" id="username" placeholder="username" class="form-control" ng-model="vm.user.username"
            required />
          <span style="color:red" ng-show="registrationForm.userName.$touched && registrationForm.userName.$error.required">Username required</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="pass1" placeholder="Password" class="form-control" ng-model="ctrl.formData.pass"
            required />
          <span style="color:red" ng-show="registrationForm.password.$touched && registrationForm.password.$error.required">Password required</span>
        </div>
        <div class="form-group">
          <label for="confirmpassword">Confirm Password</label>
          <input type="password" name="rePassword" id="pass2" placeholder="Re enter password" class="form-control" ng-keyup="ctrl.checkPass()"
            ng-model="ctrl.formData.password" />
          <span id="confirmMessage" class="confirmMessage"></span>
          <span style="color:red" ng-show="registrationForm.rePassword.$touched && registrationForm.rePassword.$error.required">Repeat the password</span>
        </div>
     
        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input class="form-control" type="text" name="contactNumber" ng-pattern="/^[0-9]*$/" ng-model="ctrl.formData.contactNumber"
            ng-required="true" placeholder="Enter contact Number" ng-required="true">
            <div class="col-sm-4">
              <span style="color:red" ng-show="registrationForm.contactNumber.$touched && registrationForm.contactNumber.$error.required">Contact number required</span>
              <span style="color:red" ng-show="registrationForm.contactNumber.$error.pattern">Only digits are allowed</span>
            </div>
        </div>
        </br>
        <div class="form-actions">
          <button type="submit" ng-disabled="registrationForm.$invalid" class="btn btn-primary" ng-click="ctrl.userRegister()">Register</button>
          <button type="button" class="btn btn-warning" ng-click="ctrl.cancel()">Cancel</button>
        </div>
  </ng-form>
</div>
