<div class="container">
  <form ng-submit="ctrl.onSubmit(ctrl.formData)">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" ng-model="ctrl.formData.name" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" ng-model="ctrl.formData.age" class="form-control" id="age">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="number" ng-model="ctrl.formData.phone" class="form-control" id="phone">
    </div>
    <button type="submit" class="btn btn-default">Save</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="data in ctrl.datas">
        <td data-ng-dblclick="ctrl.selectItem(data)">{{data.name}}</td>
        <td data-ng-dblclick="ctrl.selectItem(data)">{{data.age}}</td>
        <td data-ng-dblclick="ctrl.selectItem(data)">{{data.phone}}</td>
        <td>
            <button type="button" class="btn btn-link" ng-click="ctrl.remove(data)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
