    body {
      font: 14px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
    }
    
    p {
      font-size: 16px;
    }
    
    .margin {
      margin-bottom: 45px;
    }
    
    .bg-4 {
      background-color: #2f2f2f;
      color: #fff;
    }
    
    .container-fluid {
      padding-top: 10px;
      padding-bottom: 5px;
    }
    
    .navbar {
      padding-top: 7px;
      padding-bottom: 0px;
      border: 0;
      border-radius: 9;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 4px;
    }
    
    .navbar-nav li a:hover {
      color: #008ae6 !important;
    }